# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
env/
venv/
ENV/
.ENV/

# Fichiers sensibles
.env
env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# IDEs & systèmes
.vscode/
.idea/
.DS_Store
*.swp
Thumbs.db

# pip
pip-log.txt
pip-delete-this-directory.txt